// Partials
@import "./normalize", "./variables", "./mixins", "./base";

// Google fonts Imports
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Comforter+Brush&display=swap");

//  MEDIA QUERIES ---------------------------------------------------------
@media (min-width: 1040px) {
  main {
    display: flex;
    justify-content: center;
    margin: 5rem 15rem;
    padding: 1.5rem;
  }
  .sedans,
  .suvs,
  .luxury {
    svg,
    p {
      margin-top: 1rem;
    }
    button {
      margin-top: 3rem;
      width: 60%;
    }
  }

  .sedans {
    border-radius: 0.5rem 0 0 0.5rem;
    button {
      color: $very-light-gray;
      background-color: $bright-orange;
    }
    button:hover {
      color: $bright-orange;
      background-color: $very-light-gray;
      cursor: pointer;
    }
  }

  .suvs {
    button {
      color: $very-light-gray;
      background-color: $dark-cyan;
    }
    button:hover {
      color: $dark-cyan;
      background-color: $very-light-gray;
      cursor: pointer;
    }
  }
  .luxury {
    border-radius: 0 0.5rem 0.5rem 0;

    button {
      color: $very-light-gray;
      background-color: $very-dark-cyan;
    }
    button:hover {
      color: $very-dark-cyan;
      background-color: $very-light-gray;
      cursor: pointer;
    }
  }
}
